@media (min-width: 1100px) {

    body, p, p1, button, h1, a, h2, p2, h3, p3, h4, h5, p4, p5 {
        font-family: 'DM Sans', sans-serif;
    }
    
    h1, h2, h3, h4, h5 {
        font-weight: 700; /* Bold weight */
    }
    
    button, a {
        font-weight: 500; /* Medium weight */
    }
    
    p, p1, p2, p3, p4, p5 {
        font-weight: 400; /* Regular weight */
    }
    
    body {
        margin: 0;
        padding: 0;
    }
    .header {
        
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding: 5px 150px;
        margin-left: 168.5px;
    }
    
    .header img {
        width: 190px;
        height: 67px;
        margin-right: 50px;
    }
    
    .header nav {
        display: flex;
        align-items: center;
        flex: 1;
    padding: 0;
    overflow: visible;
    }
    
    .header a {
        margin-right: 50px;
        text-decoration: none;
        color: black;
        font-size:16px;
    }
    
    .header a:last-of-type {
        margin-right: 130px;
    }
    
    .button {
        background-color: #FFB100;
        color: black;
        border: none;
        font-size: 15px;
        border-radius: 25px;
        padding: 15px 40px;
        cursor: pointer;
        font-weight: bold;
    }
    
.hamburger-menu, .close-menu {
    font-size: 2em;
    cursor: pointer;
    color: black;
    display: none !important;
}
      .close-modal {
    font-size: 4em;
    cursor: pointer;
    color: black;
    position: absolute;
    margin-top: -0.5em;
    z-index: 1000;
    margin-right: -10em;
}
    
    .trustpilot {
        width: 300px;
        height: auto;
        margin-left: 30px;
        margin-top: 25px;
    }
    
  .button-and-image {
     display: flex;
    align-items: center;
    margin-top: 20px;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-start;
    }
    
    .button1 {
        background-color: #FFB100;
        color: black;
        border: none;
        border-radius: 25px;
        padding: 1em 1.8em;
        font-size: 1em;
        cursor: pointer;
        font-weight: bold;
        line-height: 16px;
        min-width: 118px;
        width: auto;
        display: inline-block;
        text-align: center;
        cursor: pointer;
        outline: none;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        text-decoration: none;
        font-family: dm sans bold, sans-serif;
        font-weight: 400;
        vertical-align: top;
    }
    
    .divider {
        border-top: 0.5px solid grey;
        margin: 0px 0 0 0;
    }
    
    .dividerwide {
          border-top: 15px solid grey;
    margin: 0px 0 0;
    margin-top: 5em;
    width: -webkit-fill-available;
    }
    
    
    .blue-box {
    display: flex;
    background-color: #E5F6F4;
    padding: 2em;
    margin-top: -0.5px;
    justify-content: space-evenly;
    width: -webkit-fill-available;
    flex-wrap: nowrap;
    flex-direction: row;
    height: fit-content;
    align-content: center;
    align-items: center;

    }
    
    .info-image {
       width: 29%;
    height: auto;
        
    }
    
    .text-box {
    width: 47em;
    }
    
    .text-box h1 {
      font-size: 3em;
    font-family: 'DM Sans Bold', sans-serif;
    font-weight: bold;
    text-align: left;
    width: auto;
    }
    
    .text-box p {
     font-size: 1.3em;
    width: auto;
    text-align: left;
    }
    .text-box p1 {
        font-size: 20px;
        margin: 10px 0;
            width: 350px;
        text-align: left;
    }
    .text-box mh1 {
        font-size: 56px;
        font-family: 'DM Sans Bold', sans-serif;
        font-weight: bold;
        text-align: left;
    }
    
    .text-box m {
        font-size: 22px;
        margin: 10px 0;
        width: 520px;
        text-align: left;
    }
    .text-box m1 {
        font-size: 20px;
        margin: 10px 0;
            width: 350px;
        text-align: left;
    }
    .text-box .button {
        margin-top: 20px;
    }
    
    .white-box {
 display: flex;
    align-items: center;
    background-color: #FFFFFF;
    padding: 20px;
    height: 24em;
    align-content: center;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-evenly;
    }
     
    .bottom-box {
         display: flex;
    background-color: #FFFFFF;
    padding: 20px;
    margin-top: -0.5px;
    position: relative;
    height: fit-content;
    margin-left: -1em;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    }
    .text-body {
      padding: 30px;
    width: 566px;
    }
    
    .text-body h2 {
        font-size: 32px;
        font-family: 'DM Sans Bold', sans-serif;
        font-weight: bold;
        text-align: left;
        margin-top: 20px;
    }
    
    .text-body p2  {
        font-size: 16px;
        font-family: 'DM Sans', sans-serif;
        font-weight: medium;
        text-align: left;
        margin-top: 20px;
    }
    
    .text-body-low {
        min-height: 500px;
        padding: 30px;
        width: 520px;
    }
    
    .text-body-low h2 {
        font-size: 32px;
        font-family: 'DM Sans Bold', sans-serif;
        font-weight: bold;
        text-align: left;
        margin-top: 20px;
    }
    
    .text-body-low p2  {
        font-size: 16px;
        font-family: 'DM Sans', sans-serif;
        font-weight: medium;
        text-align: left;
        margin-top: 20px;
    }
    
    .text-body-out {
        padding: 30px;
        text-align: center;
    }
    
    .text-body-out h3 {
      font-size: 44px;
    font-family: 'DM Sans Bold', sans-serif;
    font-weight: bold;
    text-align: center;
    }
    
    .text-body-out p3  {
        font-size: 16px;
    font-family: 'DM Sans', sans-serif;
    text-align: center;
    }

    .text-small{
          display: flex;
    }
    
    .text-small-left {

        padding: 15px;
        width: 371px;
        text-align: center;
    }
    
    .text-small-left h4 {
       font-size: 18px;
    font-family: 'DM Sans Bold', sans-serif;
    font-weight: bold;
    text-align: center;
    }
    
    .text-small-left p4  {
          font-size: 16px;
    font-family: 'DM Sans', sans-serif;
    text-align: center;
    }
    
    
    .text-small-right {
        padding: 15px;
        width: 371px;
        text-align: center;
    }
    
    .text-small-right h4 {
            font-size: 18px;
    font-family: 'DM Sans Bold', sans-serif;
    font-weight: bold;
    text-align: center;
    }
    
    .text-small-right p4  {
           font-size: 16px;
    font-family: 'DM Sans', sans-serif;
    text-align: center;
    }
    
    .text-small-leftd {
      padding: 15px;
        width: 371px;
        text-align: center;
    }
    
    .text-small-leftd h4 {
            font-size: 18px;
    font-family: 'DM Sans Bold', sans-serif;
    font-weight: bold;
    text-align: center;
    }
    
    .text-small-leftd p4  {
         font-size: 16px;
    font-family: 'DM Sans', sans-serif;
    text-align: center;
    }
    
    
    .text-small-rightd {
     padding: 15px;
        width: 371px;
        text-align: center;
    }
    
    .text-small-rightd h4 {
        font-size: 18px;
    font-family: 'DM Sans Bold', sans-serif;
    font-weight: bold;
    text-align: center;
    }
    
    .text-small-rightd p4  {
         font-size: 16px;
    font-family: 'DM Sans', sans-serif;
    text-align: center;
    }
    .small-up, .small-down{
          display: flex;
    }
  .grey-box {
           display: flex;
    align-items: center;
    background-color: #262626;
    padding: 20px;
    margin-top: -0.5px;
    justify-content: center;
    position: relative;
    height: 33em;
    width: -webkit-fill-available;
    margin-left: -20px;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: space-around;
    }
    
    .text-tes-left {
      padding: 15px;
    width: 371px;
    text-align: center;
    color: white;
    }
    
    .text-tes-left h5 {
        font-size: 18px;
        font-family: 'DM Sans Bold', sans-serif;
        font-weight: bold;
        text-align: center;
        margin-top: 20px;
        margin-bottom: 25px;
    }
    
    .text-tes-left p5  {
        font-size: 16px;
        font-family: 'DM Sans', sans-serif;
        font-weight: medium;
        text-align: center;
        margin-top: 20px;
    }
    
        .text-tes-right {
     padding: 15px;
    width: 371px;
    text-align: center;
    color: white;
    }
    
    .text-tes-right h5 {
        font-size: 18px;
        font-family: 'DM Sans Bold', sans-serif;
        font-weight: bold;
        text-align: center;
        margin-top: 20px;
        margin-bottom: 25px;
        
    }
    
    .text-tes-right p5  {
        font-size: 16px;
        font-family: 'DM Sans', sans-serif;
        font-weight: medium;
        text-align: center;
        margin-top: 20px;
    }
    
    
    .fund-image {
      width: 675px;
    height: auto;
    }
    
    .funding-video {
        width: 500px;
        height: auto;

    }
    
    .testimony-right {
        width: 500px;
        height: auto;

    }
        

    .bookingout-image {

    width: 350px;
    height: auto;

    }
        
    /* Modal Styles */
    .modal {
        display: none;
        position: fixed;
        z-index: 1000;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgba(0, 0, 0, 0.5);
    }
    
    .modal-content {
        background-color: #fefefe;
        margin: 10% auto;
        padding: 20px;
        border: 1px solid #888;
        width: 40%;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        transform: translateY(-50px);
        opacity: 0;
        animation: floatIn 1s forwards;
    }
    
    .modal-content mh1 {
        font-size: 30px;
        text-align: center;
        font-weight: bold;
        margin-bottom:20px;
    }
    
    .modal-content m {
        font-size: 22px;
        text-align: center;
        margin-bottom: 20px;
    }
    
    .modal-content m1 {
        font-size: 22px;
        text-align: center;
    }
    
    .modal-content .button {
        background-color: #FFB100;
        color: black;
        border: none;
        border-radius: 25px;
        padding: 20px 30px;
        cursor: pointer;
        font-weight: bold;
        margin-top: 20px;
        margin-bottom: 30px;
    }
    
    #calendlyModal .button {
        position: absolute;
        top: 10px;
        right: 10px;
    }
    #calendlyModal {
        display: none;
    }
    
    .calendly-inline-widget {
        width: 100%;
        height: 100%; /* Make sure the widget takes full height */
    }
    
    }
    
    @keyframes fadeIn {
        to {
            opacity: 1;
        }
    }
    
    @keyframes floatIn {
        to {
            transform: translateY(0);
            opacity: 1;
        }
    }
    
    @media (max-width: 1100px) {
    
    @import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
    
    body, p, p1, button, h1, a, h2, p2, h3, p3, h4, h5, p4, p5 {
        font-family: 'DM Sans', sans-serif;
    }
    
    h1, h2, h3, h4, h5 {
        font-weight: 700; /* Bold weight */
    }
    
    button, a {
        font-weight: 500; /* Medium weight */
    }
    
    p, p1, p2, p3, p4, p5 {
        font-weight: 400; /* Regular weight */
    }
    html, body {
      overflow-x: hidden;
    }
    
    body {
        margin: 0;
        padding: 0;
        max-width: 100%;
        position: relative
    
    }
    
    .text-box, .text-body, .text-body-low, .text-body-out, .text-small-left, .text-small-right, .text-tes-left, .text-tes-right {
            padding: 1em;
            width: 100%;
    }
    
       .blue-box, .white-box, .grey-box {
            flex-direction: column;
            padding: 1em;
        }
    
    .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 2em;
    position: relative;
    flex-direction: row;
}
    
    .header img {
        width: 12em;
        height: auto;;
    }
    
    .header nav {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
    }
    
    .header a {
        margin-right: 2em;
        text-decoration: none;
        color: black;
        font-size: 1em;
    }
    
    .header nav a {
         margin: 0 0 1em 0;
    }
    
    .header a:last-of-type {
        margin-right: 0;
    }
        
    .hamburger-menu {
        display: none;
        font-size: 3em;
        cursor: pointer;
    }

    .header img {
        width: 12em;
        height: auto;
    }

    .hamburger-menu {
        display: none;
        font-size: 3em;
        cursor: pointer;
    }

    .header img {
        width: 12em;
        height: auto;
    }

    .header nav {
    display: none;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.95);
    z-index: 1000;
    padding: 0em;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
    }

    .header nav a {
        margin: 1em 0;
        text-decoration: none;
        color: black;
        font-size: 1.5em;
        width: 100%;
        text-align: center;
    }

    .button1 {
        background-color: #FFB100;
        color: black;
        border: none;
        border-radius: 25px;
        padding: 1em 2em;
        font-size: 1.5em;
        cursor: pointer;
        font-weight: bold;
        text-align: center;
        width: 34.5%;
    }

    .hamburger-menu {
        display: block;
    }
         .close-menu {
        display: none;
        z-index: 2000;
        font-size:2.5em;
    }


    .show {
        display: flex !important;
        justify-content: center;
        align-items: center;
    }

    .blur {
        filter: blur(5px);
    }
    
    .divider, .dividerwide {
        border-top: 0.05em solid grey;
        margin: 0;
    }
    
    .dividerwide {
        border-top: 1em solid grey;
        margin-top: 2em;
    }
    
    .blue-box {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        background-color: #E5F6F4;
        padding: 2em;
        justify-content: space-between;
        position: relative;
    }
    
    .info-image {
        width: 100%;
        height: auto;
        object-fit: cover;
        display:none;
    }
    
    .text-box {
        padding: 2em;
        width: 100%;
    }
    
    .text-box h1 {
        font-size: 3em;
        font-weight: bold;
        text-align: left;
        margin-left: -1em;
    
    }
    
    .text-box p {
        font-size: 1.25em;
        margin: 1em 0;
        text-align: left;
        margin-left: -2em;
    
    }
    
    .button-and-image {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        flex-wrap: wrap;
    }
    
    .button {
        background-color: #FFB100;
        color: black;
        border: none;
        font-size: 1em;
        border-radius: 25px;
        width: 9em;
        padding: 0.75em 0.5em;
        cursor: pointer;
        font-weight: bold;
        margin-left: -2em;
    }
    
    .trustpilot {
        width: 17em;
        height: auto;
        margin-left: -3.5em;
        margin-top: 1em;
    
    }
    
    .text-body {
        padding: 2em;
        width: 100%;
        box-sizing: border-box;
    }
    
    .text-body h2 {
        font-size: 2em;
        margin-top: 1em;
        text-align: left;
    }
    
    .text-body p {
        font-size: 1.25em;
        margin-top: 0;
        text-align: left;
    }
    
    .funding-video {
        width: 100%;
        height: auto;
    }
    
    .fund-image {
        width: 100%;
        height: auto;
        object-fit: cover;
        display:none;
    }
    
    .text-body-low {
        padding: 2em;
        width: 100%;
        box-sizing: border-box;
    }
    
    .text-body-out {
        padding: 2em;
        width: 100%;
        box-sizing: border-box;
    }
    
    .text-body-out h3 {
        font-size: 2em;
        margin-top: 0;
        text-align: left;
    }
    
    .text-body-out p {
        font-size: 1.25em;
        margin-top: 0;
        text-align: left;
    }
    
    .text-small-left {
        padding: 2em;
        width: 100%;
        box-sizing: border-box;
        margin-top: -1.5em;
    }
    
    .text-small-left h4 {
        font-size: 1.5em;
        margin-top: 0;
        text-align: left;
    }
    
    .text-small-left p {
        font-size: 1.25em;
        margin-top: 0;
        text-align: left;
    }
    
    .text-small-right {
        padding: 2em;
        width: 100%;
        box-sizing: border-box;
    }
    
    .text-small-right h4 {
        font-size: 1.5em;
        margin-top: 0;
        text-align: left;
    }
    
    .text-small-right p {
        font-size: 1.25em;
        margin-top: 0;
        text-align: left;
    }

         .text-small-leftd {
        padding: 2em;
        width: 100%;
        box-sizing: border-box;
        margin-top: -5.5em;
    }
    
.text-small-leftd h4 {
    font-size: 1.5em;
    margin-top: 3em;
    text-align: left;
}
    
    .text-small-leftd p {
        font-size: 1.25em;
        margin-top: 0;
        text-align: left;
    }
    
    .text-small-rightd {
        padding: 2em;
        width: 100%;
        box-sizing: border-box;
    }
    
    .text-small-rightd h4 {
        font-size: 1.5em;
        margin-top: 0;
        text-align: left;
    }
    
    .text-small-rightd p {
        font-size: 1.25em;
        margin-top: 0;
        text-align: left;
    }
    
    
    .grey-box {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        background-color: #E5E5E5;
        padding: 2em;
        justify-content: space-between;
        position: relative;
    }
    
    .testimony-left, .bookingout-image {
        width: 100%;
        height: auto;
        object-fit: cover;
    }
        .img{
            width: -webkit-fill-available;
        }
img {
    width: -webkit-fill-available;
}
        
    .text-tes-left {
        padding: 2em;
        width: 100%;
        box-sizing: border-box;
    }
    
    .text-tes-left h5 {
        font-size: 1.25em;
        font-weight: bold;
        text-align: left;
    }
    
    .text-tes-left p {
        font-size: 1.25em;
        margin-top: 0;
        text-align: left;
    }
    
    .text-tes-right {
        padding: 2em;
        width: 100%;
        box-sizing: border-box;
    }
    
    .text-tes-right h5 {
        font-size: 1.25em;
        font-weight: bold;
        text-align: left;
    }
    
    .text-tes-right p {
        font-size: 1.25em;
        margin-top: 0;
        text-align: left;
    }
    
    .modal {
        display: none;
        position: fixed;
        z-index: 1000;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgba(0, 0, 0, 0.5);
    }
    
    .modal-content {
        background-color: #fefefe;
        margin: 10% auto;
        padding: 2em;
        border: 1px solid #888;
        width: 85%;
        max-width: 40em;
        display: flex;
        flex-direction: column;
        align-items: center;
        transform: translateY(-50px);
        opacity: 0;
        animation: floatIn 1s forwards;
    }

          .modal-content mh1 {
        font-size: 30px;
        text-align: center;
        font-weight: bold;
        margin-bottom:1em;    }
    
    .modal-content m {
        font-size: 22px;
        text-align: center;
        margin-bottom: 1em;
    }
    
    .modal-content m1 {
        font-size: 22px;
        text-align: center;
        margin-bottom:1em;
    }
           .close-modal {
           font-size: 3em;
    cursor: pointer;
    color: black;
        }
        
    @keyframes fadeIn {
        to {
            opacity: 1;
        }
    }
    
    @keyframes floatIn {
        to {
            transform: translateY(0);
            opacity: 1;
        }
    }
    
    @keyframes floatOut {
        from {
            transform: translateY(0);
            opacity: 1;
        }
        to {
            transform: translateY(-50px);
            opacity: 0;
        }
    }
    
    .modal.fade-out {
        animation: fadeOut 0.5s forwards;
    }
    
    .modal-content.float-out {
        animation: floatOut 0.5s forwards;
    }
    }